crewai
crewai-tools
langchain
langchain-groq
langchain-community
langchain-text-splitters
chromadb
mem0ai
groq
sentence-transformers
fastapi
uvicorn
python-multipart
streamlit
requests
python-dotenv
streamlit_webrtc
python-jose
pydantic
bcrypt==4.0.1
passlib==1.7.4
